@media ( min-width: 768px ) {
	div.cms_header_search, .cms_header_font_size, .cms_header_login, div.cms_header_top_menu { float: right; padding: 0 15px; text-align: center; }

	div.cms_header_top_menu,
	td.cms_header_text { position: relative !important; }
	.cms_header_top_menu .cms_menu_super_menu_content,
	.cms_header_text .cms_menu_super_menu_content {
		position: absolute;
		padding: 10px 15px;
		text-align: left;
		background: #fff;
		border: 1px solid #666;
		z-index: 1;
	}
	.cms_header_text .cms_menu_section_blocks_title h2,
	.branded-chat-link {
		margin: 0;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.05em;
		line-height: 1.5;
		text-transform: uppercase;
		vertical-align: middle;
	}

	.cms_header_top_menu .cms_menu_section_blocks_title h2 { display: none; }
	.cms_header_top_menu .cms_menu_super_menu_content { min-width: 300px; }
	.branded-icon-chat { margin-right: 10px; }

	.page-home .carousel { display: block; margin-bottom: 40px; }
	.page-home .carousel-inner,
	.page-home .carousel-inner > .item { height: 253px; }
	.page-home .carousel-inner > .item { position: absolute; top: 0; left: 0; }
	.page-home .carousel-control,
	.page-home .carousel-indicators { display: none; }
	.page-home .carousel-caption {
		right: 0;
		bottom: 0;
		left: 0;
		text-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);
		padding: 20px 40px;
		background: rgba(0, 0, 0, 0.5);
	}
	.page-home .carousel-caption h3 {
		margin: 0;
		font-weight: 500;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.page-home .carousel-caption .hidden-sm.hidden-xs { display: none; }

	.branded-footer-left { text-align: left; }
	.branded-footer-right { text-align: right; }
}