/*********
Here you can apply custom color theming to the Branded CMS Template.

For a nice way to experiment with colors, see https://color.adobe.com/create/color-wheel/. An even simpler color picker can be found at http://colorpicker.com/.
*********/

/* General Link Styles */
a {
	color: #337AB7;
	transition: color 200ms;
}
a:hover { /* When the mouse is hovering over a link */
	color: #278EFC;
	text-decoration: none; /* removes underlines when hovering */
}
a:active, a:focus { /* When the mouse is in the middle of a click or just after a link has been clicked */
	color: #337AB7;
	text-decoration: underline;
}

.cms_header_bottom_menu a { /* Main Menu Links */
	color: #777;
}
.cms_header_bottom_menu a:hover {
	color: #337AB7;
}