@media ( min-width: 768px ) {
	div.cms_header_search, .cms_header_font_size, .cms_header_login, div.cms_header_top_menu { float: right; padding: 0 15px; text-align: center; }

	div.cms_header_top_menu,
	td.cms_header_text { position: relative !important; }

	.cms_header span.globalSearch #sysparm_search { margin-right: 5%; }

	.page-home .carousel { display: block; }
	.page-home .carousel-inner,
	.page-home .carousel-inner > .item { height: 189px; }
	.page-home .carousel-inner > .item { position: absolute; top: 0; left: 0; }
	.page-home .carousel-control,
	.page-home .carousel-indicators { display: none; }
	.page-home .carousel-caption { display: none; }
}
