/* Mobile + Default Styles */

.page-title, .branded-admin-nav, #page_timing_div { display: none; }

/* Admin Bar */
.branded-admin-nav { z-index: 0; }
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus { color: #9d9d9d; }

/* Header */
.cms_header { padding-bottom: 20px; }

.cms_menu_super_menu_content {
	display: none;
	position: absolute;
	padding: 10px 15px;
	text-align: left;
	background: #fff;
	border: 1px solid #666;
	z-index: 1;
}

td.cms_header_top_menu { height: 40px; padding-bottom: 20px; line-height: 40px; }

.cms_header span.globalSearch { display: block; padding: 5px; margin-top: 5px; line-height: 20px; border: 1px solid #ccc; }
.cms_header span.globalSearch #sysparm_search { margin-left: 5px; width: 93%; }
.cms_header_login_link { text-align: right; }

.cms_header_resizer_link:last-child { margin-left: 10px; }

td.cms_header_logo, td.cms_header_text { display: block; }
div.cms_header_text { display: none; }

.cms_header_bottom_menu { position: relative; padding-top: 10px; }
.cms_header_bottom_menu .cms_menu_super_menu_bar_item,
.cms_header_bottom_menu .cms_menu_super_menu_bar_item_selected { float: left; }
.cms_header_bottom_menu .cms_menu_section_blocks_title h2 { margin: 0; line-height: 30px; }
.cms_header_bottom_menu .cms_menu_super_menu_bar_item:first-child .menu_section,
.cms_header_bottom_menu .cms_menu_super_menu_bar_item_selected:first-child .menu_section { padding-left: 0; }
.cms_header_bottom_menu .cms_menu_super_menu_bar .menu_section {
	display: block;
	padding: 0 15px;
	font-size: 20px;
	letter-spacing: 0.1em;
	line-height: 1.5;
	text-transform: uppercase;
}

.cms_header_bottom_menu .cms_menu_section_blocks_title h2,
.branded-chat-container {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	vertical-align: middle;
}
.branded-chat-container { float: right; min-width: 280px; line-height: 60px; }
.branded-chat-avatar { float:right; margin-left: 10px; border-radius: 50%; }
.branded-chat-container .cms_menu_section_blocks_title h2 { display: none; }
.branded-chat-container .cms_menu_super_menu_content { min-width: 300px; }
.branded-chat-container > div { line-height: 60px; }
.branded-chat-department { line-height: 30px; }
.branded-icon-chat { margin-top: -2px; }
.branded-chat-link { margin-left: 5px; }

/* Home Page */
.page-home .carousel { display: none; }
.branded-cms-home-menu a { color: #fff; }
.branded-cms-home-menu .branded-horizontal-block-content {
	margin-bottom: 20px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #111;
	background: rgba( 0, 0, 0, 0.8 );
}
/*.branded-cms-home-menu .branded-horizontal-block:last-child { margin-bottom: 0; }*/

/* Home Pages */
div[dropzone=true] { min-height: 100px; }

.branded-horizontal-block-header::after { display: table; content: ''; clear: both; }
.branded-horizontal-block-icon-container,
.branded-horizontal-block-text { float: left; }
.branded-horizontal-block-icon-container { padding-left: 10px; }
.main-content .cms_menu_section_blocks { display: none !important; }
.main-content .row .cms_menu_section_blocks { display: block !important; }
.main-content .cms_menu_section_blocks .cms_menu_section_blocks_image_left,
.branded-horizontal-block-icon { width: 90px; }
.main-content .cms_menu_section_blocks .cms_menu_section_blocks_title,
.branded-horizontal-block-text { padding-left: 15px; }
.branded-horizontal-block-text { padding-top: 23px; }
.main-content .cms_menu_section_blocks .cms_menu_section_blocks_title h2,
.branded-horizontal-block-title {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.05em;
}
.main-content .cms_menu_section_blocks .cms_menu_second_level_text,
.branded-horizontal-block-subtitle { letter-spacing: 0.05em; font-size: 12px; }
.main-content .cms_menu_section_blocks .cms_menu_separator { display: none; }
.main-content .cms_menu_section_blocks .main-content-menu-block-items { padding: 20px 0 40px 100px; }
.main-content .cms_menu_section_blocks .main-content-menu-block-items td { padding-bottom: 10px; }
.main-content .cms_menu_section_blocks .main-content-menu-block-items tr:last-child td { padding-bottom: 0; }
.main-content .cms_menu_section_blocks .menu_bullet { min-width: 20px; }
.main-content .cms_menu_section_blocks .cms_menu_block_item {
	display: block;
	margin-left: 10px;
	font-size: 18px;
}

.main-content .cms_menu_vertical_block .cms_menu_vertical_blocks_image_left { width: 90px; }
.main-content .cms_menu_vertical_block td.cms_menu_vertical_blocks_title { padding-left: 20px; }
.main-content .cms_menu_vertical_block .cms_menu_vertical_blocks_title h2 {
	margin: 0;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

/* Typeahead Search Bar */
.typeahead-search { margin: 0; }
.typeahead-search .input-group-btn { display: table-cell !important; }
.typeahead-search .twitter-typeahead { display: table-cell !important; width: 100%; }
.typeahead-search .typeahead-search-text {
	box-sizing: border-box;
	width: 100%;
	padding: 5px 30px 5px 10px;
	font-size: 16px;
	background: url( 'images/search_glass.gifx' ) no-repeat scroll 99% 8px;
	border: 1px solid #ccc;
	z-index: 0;
}
.typeahead-search-submit { visibility: hidden; width: 1px; height: 1px; position: absolute; top: -9999px; }

.tt-dropdown-menu {
	width: 100%;
	max-height: 250px;
	overflow-y: auto;
	box-sizing: border-box;
	border: 1px solid #ccc;
	font-size: 16px;
	background: #fff;
}
.tt-suggestion { padding: 10px; }
.typeahead-search-noresults { padding: 10px; width: 100%; color: #4c4c4c; }
.typeahead-search-suggestion-title {
	margin: 0;
	color: #4c4c4c;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.2;
}
.typeahead-search-suggestion-text {
	overflow: hidden;
	margin: 0;
	color: #999;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	text-overflow: ellipsis;
	max-height: 37px;
}

.tt-suggestion.tt-cursor { background: #278EFC; }
.tt-suggestion.tt-cursor .typeahead-search-suggestion-title { color: #fff; }
.tt-suggestion.tt-cursor .typeahead-search-suggestion-text { color: #fff; }

/* Iframe pages */
iframe { transform: translate3d(0,0,0); transition: height 500ms; }

.branded-page-title {
	margin: 20px 0 20px;
	font-size: 24px;
	letter-spacing: 0.05em;
	line-height: 1;
	text-transform: uppercase;
}
#catalog_frame, #support_frame { margin-top: 20px; }

/* Get Help + Catalog */
.page-get_help .main-content > .row,
.page-requestsomething .main-content > .row { display: none; }

.page-get_help .main-content .cms_menu_section_blocks .cms_menu_section_blocks_title { padding-left: 5px; }
.branded-gethelp-selection-container,
.branded-catalog-selection-container { margin: 20px 0 10px; }
.branded-gethelp-label,
.branded-catalog-label { margin-right: 15px; }
.branded-gethelp-selection-container .btn-group,
.branded-catalog-selection-container .btn-group { display: inline-block !important; }
.branded-gethelp-selection-container .caret,
.branded-catalog-selection-container .caret { position: absolute; top: 15px; right: 15px; }
.branded-gethelp-selection-container .branded-gethelp-dropdown,
.branded-catalog-selection-container .branded-catalog-dropdown { width: 100%; }
.branded-gethelp-selection-container .branded-gethelp-dropdown-button,
.branded-catalog-selection-container .branded-catalog-dropdown-button {
	position: relative;
	width: 210px;
	padding: 5px 15px;
	text-align: left;
}
.branded-gethelp-selection-container .branded-gethelp-dropdown-button:hover,
.branded-catalog-selection-container .branded-catalog-dropdown-button:hover { box-shadow: none; }

/* knowledge/catalog */
.branded-main-container { padding-top: 40px; }
.branded-section-title {
	margin: 0;
	font-size: 18px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

/* Catalog styles */
.page-requestsomething .main-content > .row { display: none; }

/* My Requests */
.branded-service-requests-title { margin-top: 40px; }

/* Footer */
.branded-footer {
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	border-top: 1px solid #ddd;
}
.branded-footer-left,
.branded-footer-right { text-align: center; }
