@media ( min-width: 1200px ) {
	.page-home .carousel-inner,
	.page-home .carousel-inner > .item { height: 400px; }

	.main-content .cms_menu_section_blocks .cms_menu_section_blocks_title h2 { font-size: 24px; }
	.main-content .cms_menu_section_blocks .cms_menu_second_level_text { font-size: 14px; }
}