/* Overriding default CMS/Iframed styles */
body { height: auto; margin: 0; }

table, input, select, button, input.text, textarea, input.button {
	font-size: inherit;
	font-family: inherit;
}

/* Disabling Heisenberg */
.modal-backdrop { z-index: 0; }

@media (min-width: 550px) {
	.container {
		width: auto;
	}
}

/* Iframed forms and lists */
html[data-doctype=true] body[data-formName="ui_page_render"] { margin: 0; }
html[data-doctype=true] div.section_header_content_no_scroll { overflow: visible; }
html[data-doctype=true] .list_nav.list_nav_top { background: transparent; }
.section_header_body_no_scroll { height: auto; max-height: none; }
.section_header_content_no_scroll { position: static !important; max-height: none; }
.section_header_div_no_scroll { position: static; }
.list_nav.list_nav_top_border { position: static !important; border: 0 none; }
.list_nav_spacer { margin-top: 0 !important; }
tr.io_label td { background: transparent !important; }
div.form_title { font-size: 14px; }
.label { display: block; font-size: inherit; line-height: inherit; }
.label label { margin-bottom: 0; }
.vcr_controls {
	display: inline-block;
	vertical-align: middle;
	padding: 0px 10px;
	border-left: none;
	border-right: none;
}
button[name=vcr_first], button[name=vcr_back], button[name=vcr_next], button[name=vcr_last] { margin-left: 0; margin-right: 0; }
button[name=vcr_last] { margin-right: 0; width: 36px; }
INPUT.list_row_number_input { width: 4em; line-height: 1em; }

.breadcrumb { padding: 0; background: transparent; }

/* Service Catalog */
#category_description, #navigatordetailTop, #back_cell, .header_bar_title { display: none !important; }
#goto_home { display: none; }

.sc_category_item .details_div td,
.sc_category_item_hover .details_div td,
.catalog_description > table > tbody > tr > td { padding: 10px; }
.sc_category_item .details_div h3:first-child,
.sc_category_item_hover .details_div h3:first-child,
.catalog_description > table > tbody > tr > td > h3:first-child { margin-top: 0; }
html[data-doctype=true] tr.header { background: transparent; }
html[data-doctype=true] div.sc_category_item, html[data-doctype=true] div.sc_category_item_hover { padding: 20px 0 !important; }
html[data-doctype=true] .sc_category_item_left { padding-right: 20px; }

/* Catalog Shopping Cart Container */
#cartContent { padding: 10px; border: 1px solid #ccc; }
.sc_cat_set_window, .sc_cart_window { margin: 0; border: 0 none; }
.sc_cart_window { min-width: 175px; width: 100% !important; }

/* Catalog Shopping Cart Top */
#cartContent_header { padding-bottom: 10px; }
#cart { padding: 0 10px; border: 0 none; }
#adder { border: 1px solid #CCC; margin-bottom: 10px; padding: 10px; }
#qty { margin-top: 10px; }

/* Catalog Shopping Cart Bottom */
.sc_cart_subtotal_row td { padding-top: 10px; }

/* Live Feed */
.live_feed.selfie-lite { background: transparent !important; }
.live_feed.selfie-lite .topbar { background: #fff; }
.live_feed.selfie-lite .panel { border: 1px solid #ddd; }

/* Knowledge */
.row.search-bar { background: transparent; border-bottom: 0 none; }
.row.search-bar form { padding-left: 0; }
.row.search-bar .buttons { padding-right: 0; }
.row.homepage { margin: 60px -15px 0; }

/* Knowledge Article */
.snc-article-header-toolbar { background: transparent !important; }
html[data-doctype=true] body[data-formName="ui_page_render"],
body { padding: 0; }
.snc-kb-view-wrapper,
.snc-kb-view-content-wrapper { height: auto !important; overflow: visible !important; }
.snc-kb-view-wrapper { position: static !important; }
.kb-view-content-wrapper,
.snc-article-header-author { margin: 0 !important; }
.snc-article-footer-section-ratings,
#kbCommentsAndLiveFeedDisplay { margin: 20px 0 !important; }

/* Bootstrap Buttons */
.btn-default:hover, .btn-destructive-subdued:hover, .btn-success-subdued:hover, .nav-segmented > li:hover, .btn-default.hover, .hover.btn-destructive-subdued, .hover.btn-success-subdued, .nav-segmented > li.hover { box-shadow: none; }

/* Edit Page */
#render_layout_preview .branded-2col-8-4 .main-container #dropzone10 { width: 66%; }
#render_layout_preview .branded-2col-8-4 .main-container #dropzone15 { width: 33%; float: right; }
