/* Mobile + Default Styles */

.page-title, .branded-admin-nav, #page_timing_div { display: none; }

/* Admin Bar */
.branded-admin-nav { z-index: 0; }
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus { color: #9d9d9d; }

/* Header */
.cms_header { padding-bottom: 20px; }

.cms_menu_super_menu_content {
	display: none;
	position: absolute;
	padding: 10px 15px;
	text-align: left;
	background: #fff;
	border: 1px solid #666;
	z-index: 1;
}

td.cms_header_top_menu { height: 40px; padding-bottom: 20px; line-height: 40px; }

.cms_header span.globalSearch { display: block; padding: 5px; margin-top: 5px; line-height: 20px; border: 1px solid #ccc; }
.cms_header span.globalSearch #sysparm_search { margin-left: 5px; width: 93%; }
.cms_header_login_link { text-align: right; }

.cms_header_resizer_link:last-child { margin-left: 10px; }

td.cms_header_logo, td.cms_header_text { display: block; }
div.cms_header_text { display: none; }

.cms_header_bottom_menu { position: relative; padding-top: 10px; }
.cms_header_bottom_menu .cms_menu_super_menu_bar_item,
.cms_header_bottom_menu .cms_menu_super_menu_bar_item_selected { float: left; }
.cms_header_bottom_menu .cms_menu_section_blocks_title h2 { margin: 0; line-height: 30px; }
.cms_header_bottom_menu .cms_menu_super_menu_bar_item:first-child .menu_section,
.cms_header_bottom_menu .cms_menu_super_menu_bar_item_selected:first-child .menu_section { padding-left: 0; }
.cms_header_bottom_menu .cms_menu_super_menu_bar .menu_section {
	display: block;
	padding: 0 15px;
	font-size: 20px;
	letter-spacing: 0.1em;
	line-height: 1.5;
	text-transform: uppercase;
}

.cms_header_bottom_menu .cms_menu_section_blocks_title h2,
.branded-chat-container {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	vertical-align: middle;
}
.branded-chat-container { float: right; min-width: 280px; line-height: 60px; }
.branded-chat-avatar { float:right; margin-left: 10px; border-radius: 50%; }
.branded-chat-container .cms_menu_section_blocks_title h2 { display: none; }
.branded-chat-container .cms_menu_super_menu_content { min-width: 300px; }
.branded-chat-container > div { line-height: 60px; }
.branded-chat-department { line-height: 30px; }
.branded-icon-chat { margin-top: -2px; }
.branded-chat-link { margin-left: 5px; }

/* Home Page */
.page-home .carousel { display: none; }
.page-home .home-block-row .cms_menu_section_blocks {
	margin-bottom: 20px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #111;
}
.page-home .home-block-row .cms_menu_section_blocks:last-child { margin-bottom: 0; }

/* Home Pages */
.main-content .cms_menu_section_blocks { display: none !important; }
.main-content .row .cms_menu_section_blocks,
.main-content .home-block-row .cms_menu_section_blocks { display: block !important; }
.main-content .cms_menu_section_blocks .cms_menu_section_blocks_image_left { width: 90px; }
.main-content .cms_menu_section_blocks .cms_menu_section_blocks_title { padding-left: 20px; }
.main-content .cms_menu_section_blocks .cms_menu_section_blocks_title h2 {
	margin: 0;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 0.05em;
}
.main-content .cms_menu_section_blocks .cms_menu_second_level_text { letter-spacing: 0.05em; font-size: 12px; }
.main-content .cms_menu_section_blocks .cms_menu_separator { display: none; }
.main-content .cms_menu_section_blocks .main-content-menu-block-items { padding: 20px 0 40px 100px; }
.main-content .cms_menu_section_blocks .main-content-menu-block-items td { padding-bottom: 10px; }
.main-content .cms_menu_section_blocks .main-content-menu-block-items tr:last-child td { padding-bottom: 0; }
.main-content .cms_menu_section_blocks .menu_bullet { min-width: 20px; }
.main-content .cms_menu_section_blocks .cms_menu_block_item {
	display: block;
	margin-left: 10px;
	font-size: 18px;
}

.main-content .cms_menu_vertical_block .cms_menu_vertical_blocks_image_left { width: 90px; }
.main-content .cms_menu_vertical_block td.cms_menu_vertical_blocks_title { padding-left: 20px; }
.main-content .cms_menu_vertical_block .cms_menu_vertical_blocks_title h2 {
	margin: 0;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

/* Typeahead Search Bar */
.typeahead-search { margin: 0; }
.typeahead-search .input-group-btn { display: table-cell !important; }
.typeahead-search .twitter-typeahead { display: table-cell !important; width: 100%; }
.typeahead-search .typeahead-search-text {
	box-sizing: border-box;
	width: 100%;
	padding: 5px 30px 5px 10px;
	font-size: 16px;
	background: url( 'images/search_glass.gifx' ) no-repeat scroll 99% 8px;
	border: 1px solid #ccc;
	z-index: 0;
}
.typeahead-search-submit { visibility: hidden; width: 1px; height: 1px; position: absolute; top: -9999px; }

.tt-dropdown-menu {
	width: 100%;
	max-height: 250px;
	overflow-y: auto;
	box-sizing: border-box;
	border: 1px solid #ccc;
	font-size: 16px;
	background: #fff;
}
.tt-suggestion { padding: 10px; }
.typeahead-search-noresults { padding: 10px; width: 100%; color: #4c4c4c; }
.typeahead-search-suggestion-title {
	margin: 0;
	color: #4c4c4c;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.2;
}
.typeahead-search-suggestion-text {
	overflow: hidden;
	margin: 0;
	color: #999;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	text-overflow: ellipsis;
	max-height: 37px;
}

.tt-suggestion.tt-cursor { background: #278EFC; }
.tt-suggestion.tt-cursor .typeahead-search-suggestion-title { color: #fff; }
.tt-suggestion.tt-cursor .typeahead-search-suggestion-text { color: #fff; }

/* Iframe pages */
.branded-page-title {
	margin: 20px 0 20px;
	font-size: 24px;
	letter-spacing: 0.05em;
	line-height: 1;
	text-transform: uppercase;
}
#catalog_frame, #support_frame { margin-top: 20px; }

/* Get Help */
.page-get_help .main-content > .row { display: none; }
.branded-gethelp-selection-container { margin: 20px 0 10px; }
.branded-gethelp-label { margin-right: 15px; }
.branded-gethelp-selection-container .btn-group { display: inline-block !important; }
.branded-gethelp-selection-container .caret { float: right; position: relative; top: 10px; }
.branded-gethelp-selection-container .branded-gethelp-dropdown { width: 100%; }
.branded-gethelp-selection-container .branded-gethelp-dropdown-button { width: 210px; padding: 10px 20px; text-align: left; }
.branded-gethelp-selection-container .branded-gethelp-dropdown-button:hover { box-shadow: none; }

/* Support Pages */
.page-it_support .main-content .cms_menu_section_blocks .cms_menu_section_blocks_title h2,
.page-hr_support .main-content .cms_menu_section_blocks .cms_menu_section_blocks_title h2,
.page-facilities_support .main-content .cms_menu_section_blocks .cms_menu_section_blocks_title h2 { font-size: 18px; }
.page-it_support .main-content .cms_menu_section_blocks .cms_menu_section_blocks_image_left,
.page-hr_support .main-content .cms_menu_section_blocks .cms_menu_section_blocks_image_left,
.page-facilities_support .main-content .cms_menu_section_blocks .cms_menu_section_blocks_image_left { width: 60px; }


/* knowledge search styles */
.branded-knowledge-container { padding-top: 40px; }

.branded-knowledge-filters-title,
.branded-knowledge-feed-title {
	margin: 0;
	font-size: 18px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.branded-knowledge-topic-filters-title,
.branded-knowledge-helpful-title { margin-top: 40px; }
.branded-knowledge-filters-list,
.branded-knowledge-feed-list { padding-left: 0; list-style-type: none; }
.branded-knowledge-filter { margin-top: 10px; }
.branded-knowledge-filter-toggle { color: #999; font-size: 16px; }
.branded-knowledge-filter-toggle:hover { color: #337AB7; }
.branded-knowledge-filter-check { color: #337AB7; margin-right: 5px; }

.branded-knowledge-feed { text-align: right; }
.branded-knowledge-feed-item { display: none; margin-top: 20px; }
.branded-knowledge-feed-item.active.top-result { display: block; }
.branded-knowledge-feed-item-link { color: #999; }

.branded-knowledge-results { overflow: auto; max-height: 670px; }
.branded-knowledge-article { margin-top: 40px; }
.branded-knowledge-article:last-child { margin-bottom: 0; }
.branded-knowledge-article-title { margin: 0; }
.branded-knowledge-article-summary {
	margin: 5px 0;
	color: #666;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.branded-knowledge-article-meta { line-height: 20px; }
.branded-knowledge-article-meta::after { display: block; clear: both; content: ' '; }
.branded-knowledge-article-meta-info { float: left; color: #888; font-size: 12px; }
.branded-knowledge-article-meta-social { float: right; }
.branded-knowledge-article-meta-votes { margin-right: 20px; }
.branded-knowledge-article-meta-votes .glyphicon-thumbs-up { margin-left: 5px; }

.branded-knowledge-modal .modal-title-rating { margin-left: 10px; color: #999; font-size: 14px; }
.branded-knowledge-modal .modal-title-rating .branded-knowledge-modal-rating-star { margin-right: 2px; }
.branded-knowledge-modal .modal-body { overflow: auto; }
.branded-knowledge-modal .modal-body img { max-width: 100%; }
.branded-knowledge-modal-comments-title,
.branded-knowledge-modal-comments { text-align: left; }
.branded-knowledge-modal-comments-title { margin-top: 20px; margin-bottom: 15px; line-height: 1; }
.branded-knowledge-modal-makecomment-post { margin-top: 10px; }
.branded-knowledge-modal-makecomment-post[disabled] { color: #fff; }
.branded-knowledge-modal-comment {
	margin-top: 20px;
	padding: 10px 15px;
	background: #fafbfc;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.branded-knowledge-modal-comment:first-child { margin-top: 0; }
.branded-knowledge-modal-comment-user-name { color: #005097; font-size: 18px; }
.branded-knowledge-modal-comment-date { margin-left: 10px; color: #999; font-size: 12px; }
.branded-knowledge-modal-comment-text { margin-bottom: 0; }

/* knowledge article page styles */
.branded-knowledge-title { margin-bottom: 0; }
.branded-knowledge-subtitle {
	margin-bottom: 20px;
	color: #666;
	font-size: 20px;
	letter-spacing: 0.05em;
	line-height: 1.5;
}


/* START: DELETE THIS */
.kb-list-article { margin-bottom: 20px; }
.kb-list-article-views,
.kb-list-article-votes { text-align: center; }
.kb-list-article-views.not-viewed,
.kb-list-article-votes.not-useful { color: #999; }
.kb-list-article-views.viewed { color: inherit; }
.kb-list-article-views.viewed .kb-list-article-views-content { border-color: #333; }
.kb-list-article-votes.useful { color: #7ac143; }
.kb-list-article-votes.useful .kb-list-article-votes-content { border-color: #7ac143; }
.kb-list-article-views-content,
.kb-list-article-votes-content { padding: 15px 0; border: 1px solid #f1f1f1; }
.kb-list-article-views-value,
.kb-list-article-votes-value { font-weight: bold; }
.kb-list-article-text div:empty { display: none; }
.kb-list-article-short-description { margin: 0; font-size: 16px; }
.kb-list-article-description {
	overflow: hidden;
	margin: 5px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.kb-list-article-meta { color: #999; font-size: 12px; }
.kb-list-article-author-name { font-weight: bold; }
/* END: DELETE THIS */


/* Footer */
.branded-footer {
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	border-top: 1px solid #ddd;
}
.branded-footer-left,
.branded-footer-right { text-align: center; }
